.main {
  background: url("https://i.pinimg.com/originals/16/0f/94/160f94562b92d78eb6c424f20a0c27f7.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  justify-content: space-around;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.header {
  font-size: 50px;
  color: white;
}
.shop-button {
  font-size: 50px;
  justify-content: center;
  align-content: center;
  width: 100%;
  border-radius: 12px;
  background-color: deeppink;
  color: white;
  text-decoration: none;
  padding: 10px;
}
